@use './assets/scss/reset' as *;
@use './assets/scss/fonts' as *;
@use './assets/scss/variables' as *;
@use './assets/scss/base' as *;
@use './assets/scss/header' as *;
@use './assets/scss/forms' as *;
@use './assets/scss/button' as *;
@use './assets/scss/todos' as *;

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
}

// Helpers
.truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hide {
  display: none !important;
}

.spinner {
  height: 12px;
  width: 12px;
  animation: rotate .8s infinite linear;
  border: 1px solid $color-white;
  border-right-color: transparent;
  border-radius: 50vw;
  z-index: 1;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
      transform: rotate(360deg);
  }
}
